mlflow[extras]==3.0.1
boto3
s3fs

transformers
datasets
evaluate
seqeval
accelerate
sentencepiece
tokenizers

torch
torchvision
torchaudio

scikit-learn
scipy
numpy
pandas
pyarrow

beautifulsoup4
lxml
regex
unidecode

matplotlib
plotly

jupyterlab
jupyterlab-git
ipywidgets

psycopg2-binary
python-dotenv
tqdm
