# Jupyter
jupyterlab==4.3.4
jupyterhub
jupyterlab-git
jupyterlab-theme-solarized-dark
jupyterlab-night
theme-darcula
catppuccin-jupyterlab
jupyterlab_materialdarker

# Spark
pyspark==3.5.8

# Data
pandas
pyarrow

# Connecteurs
trino
sqlalchemy-trino
boto3